#grad {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to left, #3f0088, #0084ff);
    border-radius: 50%;
}

div {
    display: flex;
    margin: 0 auto;
}

div.vazio {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    position: absolute;
    left: 200px;
    top: 150px
}

div.transform {
    width: 100px;
    height: 100px;
    background-color: #0084ff;
    position: absolute;
    left: 200px;
    top: 150px;
    transition: .1s ease-in;
}

div.transform:hover {
    /* transform: translateX(10px); */
    /* transform: rotate(-30deg); */
    /* transform: scale(2, 2); */
    transform: skew(10deg, 20deg) rotate(-15deg);
}

div.transition {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: all 1s ease-in-out;
    padding: 20px;
}

div.transition:hover {
    height: 200px;
    width: 200px;
    background-color: #0084ff;
}

h1 {
    font-size: 5rem;
    animation: show 1s infinite ease-in-out;
}

@keyframes show {

    0%,
    100% {
        opacity: 0;
        color: #0084ff;
    }

    50% {
        opacity: 1;
    }
}